@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");
body {
  padding: 0;
  margin: 0;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  overflow: hidden;
}

body a, body p, body button {
  font-family: 'Montserrat',sans-serif;
  font-weight: 300;
  text-decoration: none;
}

body a, body p {
  margin: 0;
  padding: 0;
}

body h1, body h2, body h3, body h4 {
  font-family: 'Montserrat',sans-serif;
  font-weight: 500;
  padding: 0;
  margin: 0;
}

body ul, body li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

body input, body textarea {
  font-family: 'Montserrat',sans-serif;
  font-weight: 500;
  outline: none;
}

body button {
  white-space: nowrap;
  padding: 0;
}

.baground {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#4A4E53), to(#0D1116));
  background: linear-gradient(180deg, #4A4E53 0%, #0D1116 100%);
}

.baground .taplink_body {
  position: relative;
  padding: 0 20px;
  margin: 20px 0;
  width: 428px;
  height: 926px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.baground .taplink_body .Qr_row {
  margin-top: 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.baground .taplink_body .Qr_row button {
  width: 42px;
  height: 42px;
  background: #45494E;
  -webkit-box-shadow: 4px 4px 4px #24282D, -4px -4px 8px rgba(255, 255, 255, 0.05);
          box-shadow: 4px 4px 4px #24282D, -4px -4px 8px rgba(255, 255, 255, 0.05);
  border-radius: 40px;
  border: none;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.baground .taplink_body .Qr_row button:hover, .baground .taplink_body .Qr_row button:active {
  -webkit-box-shadow: 4px 4px 4px #24282d67, -4px -4px 8px rgba(255, 255, 255, 0.014);
          box-shadow: 4px 4px 4px #24282d67, -4px -4px 8px rgba(255, 255, 255, 0.014);
}

.baground .taplink_body .main_photo {
  margin-top: 30px;
  width: 205px;
  height: 205px;
  -webkit-box-shadow: 4px 4px 4px #24282D, -4px -4px 8px rgba(255, 255, 255, 0.05);
          box-shadow: 4px 4px 4px #24282D, -4px -4px 8px rgba(255, 255, 255, 0.05);
  border: 3px solid;
  border-radius: 50%;
  -o-border-image: linear-gradient(153.1deg, #3F3F3F 86.96%, #1F2328 14.63%);
     border-image: linear-gradient(153.1deg, #3F3F3F 86.96%, #1F2328 14.63%);
  border-image-source: 1;
}

.baground .taplink_body .title {
  margin-top: 20px;
  text-align: center;
  color: #AEB2B7;
}

.baground .taplink_body .title p {
  font-size: 16px;
}

.baground .taplink_body .title h1 {
  line-height: 177.19%;
  font-size: 20px;
}

.baground .taplink_body .square_with_info {
  margin-top: 50px;
  width: 300px;
  height: 256px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.baground .taplink_body .square_with_info a {
  border: 0px solid #404449;
}

.baground .taplink_body .square_with_info .info_block {
  border-collapse: collapse;
  width: 125px;
  height: 125px;
  text-align: center;
}

.baground .taplink_body .square_with_info .info_block img {
  margin-top: 15px;
}

.baground .taplink_body .square_with_info .info_block p {
  position: relative;
  top: 15%;
  font-size: 12px;
  color: #AEB2B7;
}

.baground .taplink_body .square_with_info a:nth-child(1) {
  border-right-width: 1.5px;
  border-bottom-width: 1.5px;
}

.baground .taplink_body .square_with_info a:nth-child(2) {
  border-left-width: 1.5px;
  border-bottom-width: 1.5px;
}

.baground .taplink_body .square_with_info a:nth-child(3) {
  border-top-width: 1.5px;
  border-right-width: 1.5px;
}

.baground .taplink_body .square_with_info a:nth-child(4) {
  border-top-width: 1.5px;
  border-left-width: 1.5px;
}

.baground .taplink_body .social_network {
  margin-top: 60px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.baground .taplink_body .social_network a:not(:last-child) {
  margin-right: 20px;
}

.baground .taplink_body .social_network a {
  width: 45px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  -webkit-box-shadow: -4px -4px 8px rgba(223, 223, 223, 0.05), 4px 4px 4px #090d12ab;
          box-shadow: -4px -4px 8px rgba(223, 223, 223, 0.05), 4px 4px 4px #090d12ab;
  background-color: #45494E;
  border: 1px solid #252729;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.baground .taplink_body .social_network a:hover, .baground .taplink_body .social_network a:active {
  -webkit-box-shadow: 4px 4px 4px #24282d67, -4px -4px 8px rgba(255, 255, 255, 0.014);
          box-shadow: 4px 4px 4px #24282d67, -4px -4px 8px rgba(255, 255, 255, 0.014);
}

.baground .taplink_body .QR_code_body {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: -webkit-gradient(linear, left top, left bottom, from(#4A4E53), to(#0D1116));
  background: linear-gradient(180deg, #4A4E53 0%, #0D1116 100%);
}

.baground .taplink_body .QR_code_body .row_back {
  margin-top: 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.baground .taplink_body .QR_code_body .row_back button {
  margin-right: 20px;
  width: 42px;
  height: 42px;
  background: #45494E;
  -webkit-box-shadow: 4px 4px 4px #24282D, -4px -4px 8px rgba(255, 255, 255, 0.05);
          box-shadow: 4px 4px 4px #24282D, -4px -4px 8px rgba(255, 255, 255, 0.05);
  border-radius: 40px;
  border: none;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.baground .taplink_body .QR_code_body .row_back button:hover, .baground .taplink_body .QR_code_body .row_back button:active {
  -webkit-box-shadow: 4px 4px 4px #24282d67, -4px -4px 8px rgba(255, 255, 255, 0.014);
          box-shadow: 4px 4px 4px #24282d67, -4px -4px 8px rgba(255, 255, 255, 0.014);
}

.baground .taplink_body .QR_code_body .QR_code {
  margin-top: 120px;
  width: 240px;
  height: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #52565B;
  -webkit-box-shadow: -4px -4px 8px rgba(255, 255, 255, 0.05), 4px 4px 4px #24282D;
          box-shadow: -4px -4px 8px rgba(255, 255, 255, 0.05), 4px 4px 4px #24282D;
  border-radius: 20px;
  border: 3px solid #252729a8;
}

.baground .taplink_body .QR_code_body p {
  margin-top: 30px;
  font-size: 14px;
  color: #AEB2B7;
}

@media screen and (max-width: 430px) {
  .taplink_body {
    width: 100% !important;
    height: 100% !important;
  }
}

@media only screen and (max-device-width: 667px) and (min-device-width: 320px) and (orientation: landscape) {
  .taplink_body {
    display: block !important;
  }
}
/*# sourceMappingURL=style.css.map */